<div class="event-item">
  <div class="event-date">{{ formatDate(event.date) }}</div>
  <div class="event-details">
    <div class="event-title">
      <span class="event-title-text">{{ event.title }}</span>
      <button mat-icon-button (click)="editEvent(event, $event)" class="edit-button" *ngIf="showEditButton">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="event-location" *ngIf="event.location">
      <mat-icon class="location-icon">place</mat-icon>
      {{ event.location }}
    </div>
    <div class="event-meta">
      <div class="event-type" 
           *ngIf="event.type" 
           (click)="filterByType(event.type, $event)"
           [class.active]="isTypeSelected(event.type)">
        {{ event.type }}
      </div>
      @if (attendees().length > 0) {
        <div class="attendee-avatars" 
             cdkDropList
             [cdkDropListData]="event.id"
             (cdkDropListDropped)="onCdkDropListDropped($event)"
             [cdkDropListEnterPredicate]="canEnterDropList"
             cdkDropListSortingDisabled>
          
          <!-- Regular attendee avatars -->
          <ng-container *ngFor="let attendee of attendees()">
            <img [src]="attendee.photoUrl" 
                 [alt]="attendee.name"
                 [title]="attendee.name"
                 class="attendee-avatar"
                 cdkDrag
                 [cdkDragData]="{ friend: attendee, sourceEventId: event.id }"
                 (cdkDragStarted)="onCdkDragStarted($event)"
                 (cdkDragEnded)="onCdkDragEnded($event)"
                 (click)="selectAttendee(attendee, $event)">
          </ng-container>
          
          <div class="drop-hint" *ngIf="showDropHint">
            <mat-icon>{{ isDraggedFriendAlreadyAttendee() ? 'check' : 'person_add' }}</mat-icon>
          </div>
        </div>
      } @else {
        <div class="attendee-avatars empty-dropzone" 
             cdkDropList
             [cdkDropListData]="event.id"
             (cdkDropListDropped)="onCdkDropListDropped($event)"
             [cdkDropListEnterPredicate]="canEnterDropList"
             cdkDropListSortingDisabled>
          <div class="empty-state" *ngIf="!showDropHint">
            <mat-icon>people_outline</mat-icon>
            <span>No attendees</span>
          </div>
          <div class="drop-hint" *ngIf="showDropHint">
            <mat-icon>{{ isDraggedFriendAlreadyAttendee() ? 'check' : 'person_add' }}</mat-icon>
          </div>
        </div>
      }
    </div>
  </div>
</div>