<div class="connected-friends">
  <app-section-header 
    icon="people"
    title="Connected Friends">
  </app-section-header>
  <div class="friends-list">
    <div *ngFor="let connection of connectedFriends" 
         class="friend-item" 
         (click)="selectFriend(connection, $event)"
         [style.cursor]="'pointer'">
      <img [src]="connection.friend.photoUrl" [alt]="connection.friend.name" class="friend-avatar" [matTooltip]="connection.friend.name + ' shares ' + connection.sharedEventCount + ' ' + ((connection.sharedEventCount === 1) ? 'event' : 'events')" >
      <div class="shared-events"> {{ connection.sharedEventCount  }}  </div>
    </div>
  </div>
</div>