<div class="sidebar" 
     [class.open]="isOpen"
     [class.friends-open]="friendsSidebarOpen">
  <div class="sidebar-header">
    <h2 class="sidebar-title">
      <mat-icon class="title-icon">event_note</mat-icon>
      Calendar
    </h2>
    <div class="header-actions">
      <button mat-icon-button (click)="addEvent()" class="add-button" matTooltip="Add Event">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click)="close()" class="close-button" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="sidebar-content">
    <ng-container *ngIf="groupedEvents().length > 0; else noEvents">
      <div *ngFor="let yearGroup of groupedEvents()" class="year-group">
        <h3 class="year-header">{{ yearGroup.year }}</h3>
        
        <div *ngFor="let monthGroup of yearGroup.months" class="month-group">
          <h4 class="month-header">
            <mat-icon class="month-icon">calendar_month</mat-icon>
            {{ monthGroup.month }}
          </h4>
          
          <div class="events-for-month">
            <app-event-list-item 
              *ngFor="let event of monthGroup.events"
              [event]="event" 
              [showEditButton]="true"
              (editEventClicked)="editEvent($event)">
            </app-event-list-item>
          </div>
        </div>
      </div>
    </ng-container>
    
    <ng-template #noEvents>
      <div class="no-events">
        <mat-icon style="font-size: 48px; color: #ccc; margin-bottom: 16px;">event_busy</mat-icon>
        <p>No events to display</p>
      </div>
    </ng-template>
  </div>
</div>