<div class="friend-item" 
     (click)="selectFriend($event)"
     draggable="true"
     (dragstart)="onDragStart($event)"
     (dragend)="onDragEnd($event)">
  <img [src]="friend.photoUrl" [alt]="friend.name" class="friend-avatar">
  <div class="friend-details">
    <span class="friend-name">{{ friend.name }}</span>
    <span class="friend-stats">
      <span class="event-count">{{ friend.eventCount }}</span> 
      {{ friend.eventCount === 1 ? 'event' : 'events' }}
    </span>
  </div>
  <button mat-icon-button (click)="editFriend($event)" class="edit-button" matTooltip="Edit Friend">
    <mat-icon>edit</mat-icon>
  </button>
</div>