<div class="app-container">
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="toggleCalendarSidebar()" matTooltip="Calendar">
      <mat-icon>event_note</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleFriendsSidebar()" matTooltip="Friends">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button (click)="addFriend()" matTooltip="Add Friend">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button aria-label="Help">
      <mat-icon>help_outline</mat-icon>
    </button>
  </mat-toolbar>
  
  <app-filter-controls></app-filter-controls>
  
  <div class="main-content">
    <div class="content-container" 
         [class.calendar-sidebar-open]="calendarSidebarOpen && !friendsSidebarOpen"
         [class.friends-sidebar-open]="friendsSidebarOpen && !calendarSidebarOpen"
         [class.both-sidebars-open]="calendarSidebarOpen && friendsSidebarOpen">
      <app-graph-visualization></app-graph-visualization>
    </div>
    
    <app-calendar-sidebar 
      [isOpen]="calendarSidebarOpen" 
      [friendsSidebarOpen]="friendsSidebarOpen"
      (closeRequested)="calendarSidebarOpen = false"
      (addEventRequested)="addEvent()">
    </app-calendar-sidebar>
    
    <app-friends-sidebar 
      [isOpen]="friendsSidebarOpen" 
      [calendarSidebarOpen]="calendarSidebarOpen"
      (closeRequested)="friendsSidebarOpen = false"
      (addFriendRequested)="addFriend()">
    </app-friends-sidebar>
  </div>
</div>