<div class="app-container" 
     (document:dragleave)="onDocumentDragLeave($event)">
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
    <span class="toolbar-spacer"></span>

    <button mat-icon-button (click)="toggleCalendarSidebar()" matTooltip="Calendar">
      <mat-icon>event_note</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleFriendsSidebar()" matTooltip="Friends">
      <mat-icon>people</mat-icon>
    </button>
    
    <!-- Overflow Menu -->
    <button mat-icon-button [matMenuTriggerFor]="overflowMenu" matTooltip="More options">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #overflowMenu="matMenu">
      <button mat-menu-item (click)="openHelp()">
        <mat-icon>help_outline</mat-icon>
        <span>Help</span>
      </button>
      <button mat-menu-item (click)="openSettings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="openLegal()">
        <mat-icon>info</mat-icon>
        <span>Imprint & Privacy</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  
  <div class="main-content">
    <div class="content-container" 
         [class.calendar-sidebar-open]="calendarSidebarOpen && !friendsSidebarOpen"
         [class.friends-sidebar-open]="friendsSidebarOpen && !calendarSidebarOpen"
         [class.both-sidebars-open]="calendarSidebarOpen && friendsSidebarOpen">
      <app-graph-visualization></app-graph-visualization>
    </div>
    
    <app-calendar-sidebar 
      [isOpen]="calendarSidebarOpen" 
      [friendsSidebarOpen]="friendsSidebarOpen"
      (closeRequested)="calendarSidebarOpen = false"
      (addEventRequested)="addEvent()">
    </app-calendar-sidebar>
    
    <app-friends-sidebar 
      [isOpen]="friendsSidebarOpen" 
      [calendarSidebarOpen]="calendarSidebarOpen"
      (closeRequested)="friendsSidebarOpen = false"
      (addFriendRequested)="addFriend()">
    </app-friends-sidebar>
  </div>
  <a href="https://bolt.new/" target="_blank" rel="noopener noreferrer" 
     class="boltbadge">
    <img src="https://storage.bolt.army/black_circle_360x360.png" 
         alt="Built with Bolt.new badge" 
         onanimationend="this.classList.add('animated')" />
  </a>
</div>