<div class="sidebar" 
     [class.open]="isOpen"
     [class.calendar-open]="calendarSidebarOpen">
  
  <!-- Unified Header -->
  <app-header-bar
    title="Friends"
    icon="people"
    headerColor="accent"
    [headerActions]="headerActions()"
    (navButtonClick)="close()">
  </app-header-bar>
  
  <div class="sidebar-content">
    <ng-container *ngIf="sortedFriends().length > 0; else noFriends">
      <div class="friends-list">
        <app-friend-list-item 
          *ngFor="let friend of sortedFriends()"
          [friend]="friend"
          (friendSelected)="selectFriend($event)"
          (editFriendRequested)="editFriend($event)">
        </app-friend-list-item>
      </div>
    </ng-container>
    
    <ng-template #noFriends>
      <div class="no-friends">
        <mat-icon style="font-size: 48px; color: #ccc; margin-bottom: 16px;">people_outline</mat-icon>
        <p>No friends to display</p>
      </div>
    </ng-template>
  </div>
</div>