<div class="sidebar" 
     [class.open]="isOpen"
     [class.calendar-open]="calendarSidebarOpen">
  
  <!-- Unified Header -->
  <app-header-bar
    title="Friends"
    icon="people"
    headerColor="accent"
    [headerActions]="headerActions()"
    (navButtonClick)="close()">
  </app-header-bar>
  
  <div class="sidebar-content">
    <app-friend-list
      [compactView]="false"
      [showEditButton]="true"
      (friendSelected)="selectFriend($event)"
      (editFriendRequested)="editFriend($event)">
    </app-friend-list>
  </div>
</div>