<ng-container *ngIf="sortedFriends().length > 0; else noFriends">
  <div class="friends-list" 
       [class.compact-view]="compactView"
       cdkDropList
       cdkDropListSortingDisabled
       [cdkDropListData]="'friends-list'">
    <app-friend-list-item 
      *ngFor="let friend of sortedFriends()"
      [friend]="friend"
      [compactView]="compactView"
      [showEditButton]="showEditButton"
      (friendSelected)="onFriendSelected($event)"
      (editFriendRequested)="onEditFriendRequested($event)">
    </app-friend-list-item>
  </div>
</ng-container>

<ng-template #noFriends>
  <app-empty-state 
    icon="people_outline"
    title="No friends to display">
  </app-empty-state>
</ng-template>