<ng-container *ngIf="sortedFriends().length > 0; else noFriends">
  <div class="friends-list" [class.compact-view]="compactView">
    <app-friend-list-item 
      *ngFor="let friend of sortedFriends()"
      [friend]="friend"
      [compactView]="compactView"
      [showEditButton]="showEditButton"
      (friendSelected)="onFriendSelected($event)"
      (editFriendRequested)="onEditFriendRequested($event)">
    </app-friend-list-item>
  </div>
</ng-container>

<ng-template #noFriends>
  <div class="no-friends">
    <mat-icon style="font-size: 48px; color: #ccc; margin-bottom: 16px;">people_outline</mat-icon>
    <p>No friends to display</p>
  </div>
</ng-template>