@if (attendees().length > 0) {
  <div class="attendee-avatars" 
       cdkDropList
       [cdkDropListData]="event.id"
       (cdkDropListDropped)="onCdkDropListDropped($event)"
       [cdkDropListEnterPredicate]="canEnterDropList"
       cdkDropListSortingDisabled>
    
    <!-- Regular attendee avatars -->
    <ng-container *ngFor="let attendee of attendees()">
      <div class="attendee-avatar-wrapper"
           [class.dragging-for-removal]="isDraggingAttendeeForRemoval(attendee)"
           cdkDrag
           [cdkDragData]="{ friend: attendee, sourceEventId: event.id }"
           (cdkDragStarted)="onCdkDragStarted($event)"
           (cdkDragEnded)="onCdkDragEnded($event)"
           (click)="selectAttendee(attendee, $event)">
        
        <!-- Show either avatar or trash icon based on drag state -->
        <ng-container *ngIf="!isDraggingAttendeeForRemoval(attendee); else trashIcon">
          <img [src]="attendee.photoUrl" 
               [alt]="attendee.name"
               [title]="attendee.name"
               class="attendee-avatar">
        </ng-container>
        
        <ng-template #trashIcon>
          <mat-icon class="attendee-trash-icon">delete</mat-icon>
        </ng-template>
        
        <!-- Custom drag preview template -->
        <ng-template cdkDragPreview>
          <img [src]="attendee.photoUrl" 
               [alt]="attendee.name" 
               class="cdk-drag-preview-avatar">
        </ng-template>
        
        <!-- Custom drag placeholder for attendee avatars -->
        <div *cdkDragPlaceholder class="attendee-avatar-placeholder"></div>
      </div>
    </ng-container>
    
    <div class="drop-hint" *ngIf="showDropHint">
      <mat-icon>{{ isDraggedFriendAlreadyAttendee() ? 'check' : 'person_add' }}</mat-icon>
    </div>
  </div>
} @else {
  <div class="attendee-avatars empty-dropzone" 
       cdkDropList
       [cdkDropListData]="event.id"
       (cdkDropListDropped)="onCdkDropListDropped($event)"
       [cdkDropListEnterPredicate]="canEnterDropList"
       cdkDropListSortingDisabled>
    <div class="empty-state" *ngIf="!showDropHint">
      <mat-icon>people_outline</mat-icon>
      <span>No attendees</span>
    </div>
    <div class="drop-hint" *ngIf="showDropHint">
      <mat-icon>{{ isDraggedFriendAlreadyAttendee() ? 'check' : 'person_add' }}</mat-icon>
    </div>
  </div>
}